/** @format */

@media (max-width: 976px) {
  .header-grid {
    column-gap: 10rem;
  }
  .btn {
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .btn {
    padding: 0.5rem 0.6rem;
  }
  .header-grid {
    grid-template-columns: 1fr;
  }
  .header-grid.text,
  .hero-img-text-box {
    text-align: center;
  }
  .header-grid img {
    height: 40rem;
    margin-left: 7rem;
  }
  .btns {
    display: flex;
    justify-content: center;
    /* margin-left: 3rem; */
  }
}
